$sans: "Lato", sans-serif;
$sans-callout: "europa", "futura", sans-serif;

h1, p {
	font-family: $sans;
	font-weight: 300;
	letter-spacing: .08rem;
}

h1 {
	text-transform: uppercase;
	letter-spacing: .1rem;
}

.card-text {
	/*font-size: 22px;*/
}

a.btn-secondary-outline {
	color: #999;
	font-family: $sans-callout;
	font-size: .75rem;
	line-height: 1rem;
	letter-spacing: .2rem;
}

@include media-breakpoint-up(sm) {
  html {
    /*font-size: 16px;*/
  }
}

@include media-breakpoint-up(md) {
  html {
    /*font-size: 20px;*/
  }
}

@include media-breakpoint-up(lg) {
  html {
    /*font-size: 28px;*/
  }
}
