* {
	border-radius: 0 !important;
}

body {
	background-image: url(../img/unicornland_wallpaper.jpg);
}

#card {
	height: 100vh;

	> .card {
		position: relative;
		top: 20%;
	}
}

.card-block {
	padding: 2rem 4rem 4rem;
}
@include media-breakpoint-down(md) {
	.card-block {
		padding: 1rem 2rem 2rem;
	}
}

.buffer {
	margin-bottom: 1.75rem;
}

a.btn-secondary-outline {
	border: 2px solid #999;
	padding-top: 1em;
	padding-right: 1.44em;
	padding-right: calc(1.44em - .2em);
	padding-bottom: 1em;
	padding-left: 1.44em;
}
