* {
	border-radius: 0 !important;
}

#card {
	height: 100vh;

	> .card {
		position: relative;
		top: 20%;
	}
}

.card-block {
	padding: 2rem 4rem 4rem;
}
@include media-breakpoint-down(md) {
	.card-block {
		padding: 1rem 2rem 2rem;
	}
}

.buffer {
	margin-bottom: 1.75rem;
}

a.btn-secondary-outline {
	border: 2px solid #999;
	padding-top: 1em;
	padding-right: 1.44em;
	padding-right: calc(1.44em - .2em);
	padding-bottom: 1em;
	padding-left: 1.44em;
}

.parallax {
	perspective: 1px;
	perspective-origin-x: 100%;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;

	&__layer {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transform-origin-x: 100%;

		&--base {
			background-image: url(../img/unicornland_wallpaper.jpg);
			transform: translateZ(0);
		}

		&--back {
			transform: translateZ(-1px);
		}
	}
}
